[nz-menu] {
  line-height: 64px;
}

nz-breadcrumb {
  margin: 16px 0;
}

nz-layout {
  background-image:url("https://images.pexels.com/photos/1566837/pexels-photo-1566837.jpeg");
  background-size:cover;
  height: 100vh;
}
nz-footer {
  text-align: center;
}

.inner-content {
  background: #fff;
  padding: 24px;
  min-height: 280px;
}
.start{
  margin-left:800px;
}
body{
  background-color: aqua;
  height:100vh;
}
.foot{
  background-color:#040512;
  color: #fff;
}
.ant-modal{
border-radius:20px;
}
