<div id="main">
  <div id="head">
    <h2>Sign In with your email</h2>
    <p>Don't have an account? <a routerLink="/signup"> Sign Up</a></p>
</div>
  <form nz-form [formGroup]="validatesSignin" (ngSubmit)="submitSignin(validatesSignin.value)">

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your email!">
        <nz-input-group nzPrefixIcon="mail">
          <input type="email" nz-input formControlName="email1" placeholder="Email" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item>
      <nz-form-control nzErrorTip="Please input your password!">
        <nz-input-group nzPrefixIcon="lock">
          <input type="password" nz-input formControlName="password1" placeholder="Password" />
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>


    <button nz-button class="login-form-button login-form-margin"  [nzType]="'primary'" [disabled]="!validatesSignin!.valid">Sign In</button>&nbsp; &nbsp;
    <button nz-button class="login-form-button login-form-margin"  [nzType]="'primary'" routerLink="/">Cancel</button>


  </form>

</div>

